region       = "us-east-1"
name         = "day13"
caller_image = "<ACCOUNT_ID>.dkr.ecr.us-east-1.amazonaws.com/day13-caller:v1"
callee_image = "<ACCOUNT_ID>.dkr.ecr.us-east-1.amazonaws.com/day13-callee:v1"
